.App {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
}

.firstRow {
    display: flex;
    flex-direction: row;
}

@media (max-width:600px) {

.firstRow {
    flex-direction: column;
}
}