
.Letter {
        user-select: none;
        margin:0;
}

.fall {
        animation-name: fall;
        animation-duration: 500ms;
        animation-timing-function: ease-in;
        animation-fill-mode: forwards;
}

.rise {
        animation-name: rise;
        animation-duration: 300ms;
        animation-timing-function: ease-in;
        animation-fill-mode: forwards;
}


@keyframes fall {
    0% {transform: translateY(0px);
        opacity:1;
    }
    90% {transform: translateY(75vh);
        opacity:.3;
    }
    100% {transform: translateY(80vh);
        opacity:0;
}
}

@keyframes rise {
    0% {transform: translateY(-100px);
opacity: 0;
    }
    100% {transform: translateY(0px);
        opacity:1;
    }

}