.Tools {
    margin: 10px 30px;
    padding: 10px;
    border: 5px dashed #232423;
    background-color: white;
    color: #1B1C1B;
    width: 33vw;
}

.Portfolio {
    margin: 10px 30px;
    padding: 10px;
    border: 5px dashed #232423;
    background-color: white;
    color: #1B1C1B;
    width: 25vw;
}

.Banner {
    display: flex; 
    justify-content: space-around; 
    z-index: 0;
}

.name {
    display: flex;
    justify-content: flex-start; 
}

@media (max-width:600px) {

.Tools, .Portfolio {
    width: 80vw
}
}